<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="description" content="Oscar's portfolio showcasing web development projects, including grid placement, Flexbox layouts, and more." />
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developed by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
  <link href="static/evilmorty.jpg" rel="icon">

  <title>Oscar's Projects</title>

  <link href="static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <!-- Add your content of header -->
  <header>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Works</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Works</h1>
          <p>Welcome to my portfolio, where you can explore a collection of my software development projects and professional work.
             Each project reflects my passion for coding, problem-solving, and continuous learning.
             From developing dynamic web applications to optimizing databases, I have worked on a variety of projects that showcase my technical skills and innovative approach.
             I invite you to browse through my work and see how I turn ideas into functional, impactful solutions.</p>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel-fade">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                      <div class="col-sm-4">
                          <a href="./templates/projectGrid.html" title="" class="image-project-hover">
                            <img src="./static/assets/grid placement.png" alt="" class="img-responsive">
                          </a>
                         <div class="card-container card-container-lg">
                            <h4>07/12/2024</h4>
                            <h3>Grid placement</h3>
                            <p>I used this project to practice grid placement with CSS. It helped me identify grid lines, tracks, cells, containers, and items.</p>
                            <a href="./templates/projectGrid.html" class="btn btn-default">Discover</a>
                         </div>
                      </div>
                    <div class="col-sm-4">
                      <a href="./static/projects.html" title="" class="image-project-hover">
                        <img src="./static/assets/flexbox pricing table.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>08/02/2024</h4>
                        <h3>Pricing Table suing Flexbox</h3>
                        <p>For this project, I used Flexbox to help me get familiar with the flexibility and responsiveness that this tool offers, enabling web developers to create more efficient and intuitive ways to arrange elements within a container during web design.</p>
                        <a href="./static/projects.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./static/projects.html" title="" class="image-project-hover">
                        <img src="./static/assets/flag project.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>08/28/2024</h4>
                        <h3>Flag Project (Object positioning)</h3>
                        <p>The focus of this project was understanding the use of elements and cascading in order to create items that are well-designed and visible, even if they are layered on top of each other.</p>
                        <a href="./static/projects.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            <!--/item-->

            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./static/projects.html" class="image-project-hover">
                      <img src="./static/assets/Moving company website.png" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>11/19/2024</h4>
                      <h3>Website for a Moving Company</h3>
                      <p>I used this project to introduce me to the powerful tools that Bootstrap offers when it comes to website layout. The main focus here was to work with carousels and the way they work, as well as the use of SVGs, navigation bars, and drop-down menus</p>
                      <a href="./static/projects.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a href="./static/projects.html" class="image-project-hover">
                        <img src="./static/assets/my customized meme project.png" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>10/25/2024</h4>
                        <h3>Personalized Meme</h3>
                        <p>This simple project focuses on further understanding of how CSS is used to create solid and functional websites that look and work well. This is achieved by using text-align, text-transform, borders, and background-color.</p>
                        <a href="./static/projects.html" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="./static/projects.html" class="image-project-hover">
                        <img src="./static/assets/web designing agency.png" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>12/20/2024</h4>
                        <h3>Web Design Agency</h3>
                        <p>This project was mainly focused on getting familiar with Float CSS and its usability.</p>
                        <a href="./static/projects.html" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>

            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>
    <!--/myCarousel-->
    </div>
    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>



--> <script type="text/javascript" src="static/main.70a66962.js"></script></body>

</html>
